<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>

<div>
    <h3>Add new book</h3>
    <form method="GET" th:action="@{/newBook}">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        <input type="submit" value="Add new book">
    </form>
</div>

<table width="30%" border="2" cellpadding="4">
    <caption><h3>Last five books</h3></caption>
    <tr>
        <td><b>Id</b></td>
        <td><b>Book's name</b></td>
        <td><b>Author</b></td>
        <td><b>Mark</b></td>
        <td><b>Edit</b></td>
        <td><b>Delete</b></td>
        <td><b>Link</b></td>
    </tr>
    <tr align="left" th:each="b : ${booksList}">
        <td th:text="${b.id}"></td>
        <td th:text="${b.name}"></td>
        <td th:text="${b.author}"></td>
        <td th:text="${b.mark}"></td>
        <td><a th:href="@{'/edit/' + ${b.id}}">Edit</a></td>
        <td><a th:href="@{'/delete/' + ${b.id}}">Delete</a></td>
        <td th:if="${b.fileName != null}">
            <a th:href="@{'/download/' + ${b.id}}">Download</a>
        </td>
    </tr>
</table>

<table width="30%" border="2" cellpadding="4">
    <caption><h3>Most popular books</h3></caption>
    <tr>
        <td><b>Id</b></td>
        <td><b>Book's name</b></td>
        <td><b>Author</b></td>
        <td><b>Mark</b></td>
        <td><b>Edit</b></td>
        <td><b>Delete</b></td>
        <td><b>Link</b></td>
    </tr>
    <tr align="left" th:each="b : ${popular}">
        <td th:text="${b.id}"></td>
        <td th:text="${b.name}"></td>
        <td th:text="${b.author}"></td>
        <td th:text="${b.mark}"></td>
        <td><a th:href="@{'/edit/' + ${b.id}}">Edit</a></td>
        <td><a th:href="@{'/delete/' + ${b.id}}">Delete</a></td>
        <td th:if="${b.fileName != null}">
            <a th:href="@{'/download/' + ${b.id}}">Download</a>
        </td>
    </tr>
</table>

<div>
    <form method="get" th:action="@{/books/byName}">
        <h3>Find books by name</h3>
        <input type="text" placeholder="name" name="name">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        <input type="submit" value="Find">
    </form>
</div>
<div>
    <form method="get" th:action="@{/books/byAuthor}">
        <h3>Find books by author</h3>
        <input type="text" placeholder="author" name="author">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        <input type="submit" value="Find">
    </form>
</div>
<br>
<div>
    <form method="POST" th:action="@{/logout}">
        <input type="submit" value="Logout"/>
    </form>
</div>
<br>
<div>
    <p th:if="${admin} == true">
        <a th:href="@{/users}">Users List</a>
    </p>
</div>
</body>
</html>