<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
</head>
<body>
<div>
    <h2>Edit current book</h2>
    <form method="POST" th:object="${book}" enctype="multipart/form-data">
        <h3>Book's name</h3>
        <input type="text" value="*{name}" th:field="*{name}">
        <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</td>

        <h3>Book's author</h3>
        <input type="text" value="*{author}" th:field="*{author}">
        <td th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Error</td>

        <h3>Your mark (1-10)</h3>
        <input type="text" value="*{mark}" th:field="*{mark}">
        <td th:if="${#fields.hasErrors('mark')}" th:errors="*{mark}">Error</td>

        <!--        <input type="hidden" value="*{creationDate}" th:field="*{creationDate}">-->
<!--        <input type="hidden" value="*{fileName}" th:field="*{fileName}">-->

        <h3>Book file</h3>
        <input type="file" name="file">
        <p th:text="*{fileName}">text</p>
        <div th:if="*{fileName != null}">
            <a th:href="@{'delete/' + ${editedBook.id}}">Delete File</a>
        </div>
        <br><br>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        <input type="submit" value="Edit">
    </form>

</div>
<div>
    <form method="POST" th:action="@{/logout}">
        <input type="submit" value="Logout"/>
    </form>
</div>
</body>
</html>

