<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>iLibrary</title>
</head>
<body>
<h1>Login</h1>
<img th:src="@{/image/book.jpg}">
<div th:if="${error}"> Unable to login. Check your username and password.</div>

<div>
    <p th:if="${message != null}">
        <h3><p th:text="${message}"></p></h3>
    </p>
</div>

<form method="POST" th:action="@{/login}" id="loginForm">
    <h3><label for="username">Username: </label>
    <input type="text" name="username" id="username"/></h3>
    <h3><label for="password">Password: </label>
    <input type="password" name="password" id="password"/></h3><br/>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
    <input type="submit" value="Login" />
</form>
<h3>First time here? <a th:href="@{/registration}">Click </a>to register.</h3>

</body>
</html>
