<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new book</title>
</head>
<body>
<div>
    <h2>Add new Book</h2>
    <form method="POST" th:object="${newBook}" enctype="multipart/form-data">
        <h3>Book's name</h3>
        <input type="text" placeholder="Book's name" th:field="*{name}">
        <h3>Book's author</h3>
        <input type="text" placeholder="Book's author" th:field="*{author}">
        <h3>Your mark (1-10)</h3>
        <input type="text" placeholder="Your mark" th:field="*{mark}">
        <h3>Download book</h3>
        <input type="file" name="file">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        <input type="submit" value="Add book">
    </form>
    <br>
</div>
<div>
    <form method="POST" th:action="@{/logout}">
        <input type="submit" value="Logout"/>
    </form>
</div>
</body>
</html>